@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <span class="desc">
       Welcome to my cakes page! <br />
       Have fun :)
   </span>
</div>
<style>
    .desc{
        font-size: 20px;
        color: darkcyan;
        background-color:white;
    }
</style>
